<% include _styled_header %>	
<% String.prototype.capitalizeWords = function(){
  return this.toLowerCase().replace( /\b\w/g, function (m) {
      return m.toUpperCase();
  });
} %>
<!-- body content -->
<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td align="left" style="color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: normal;">
      <p>We received a payment for your DigiFi account.</p>
      <p>
        <ol style="list-style-type: none;margin: 0; padding: 0;">
          <li>Amount Paid: <%- amount_paid %> (<%- fees %> Fees + <%- total_tax_owed %> Sales Tax)</li>
          <li>Date Paid: <%- date_paid %></li>
          <li>Payment Method: <%- payment_method %></li>
        </ol>
      </p>
    </td>
  </tr>
</table>
<!-- body content -->
<% include _thank_you_text.ejs%>
<% include _styled_footer %>